ASPNETCORE_ENVIRONMENT=Production
ASPNETCORE_URLS=http://127.0.0.1:5166
ConnectionStrings__DefaultConnection=Host=localhost;Port=5432;Database=swedesclantracker;Username=swedes;Password=CHANGE_ME
TempleOsrs__ApiKey=CHANGE_ME
WiseOldMan__VerificationCode=CHANGE_ME
Auth__Username=CHANGE_ME
Auth__Password=CHANGE_ME
