DOTNET_ENVIRONMENT=Production
ConnectionStrings__DefaultConnection=Host=localhost;Port=5432;Database=swedesclantracker;Username=swedes;Password=CHANGE_ME
TempleOsrs__ApiKey=CHANGE_ME
WiseOldMan__VerificationCode=CHANGE_ME
DiscordBot__Enabled=true
DiscordBot__Token=CHANGE_ME
DiscordBot__AdminRoleId=CHANGE_ME
DiscordBot__GuildId=CHANGE_ME
DiscordBot__ChannelId=CHANGE_ME
DiscordBot__PetHiscoresChannelId=CHANGE_ME
