/deploy/
/logs/
**/bin/
**/obj/
**/node_modules/
**/*.user
*.slnLaunch.user
.vs/
.dotnet/
.nuget/
*.suo
*.userosscache
*.sln.docstates
swedesclantracker-frontend/dist/
swedesclantracker-frontend/.vite/
swedesclantracker-frontend/coverage/
swedesclantracker-frontend/.env.local
swedesclantracker-frontend/.env.*.local
